:root:not([data-theme=dark]), [data-theme=light] {
  --primary: hsl(195deg, 85%, 35%);
  --muted-color: hsl(205deg 9% 35%);
}

body > :where(header, footer, main), section {
  --block-spacing-vertical: calc(var(--spacing) * 2) !important;
}

label + small {
  color: var(--muted-color);
}

article {
  position: relative;
}

article .reload {
  position: absolute;
  right: 1em;
  top: 1ex;
}

article > :last-child {
  margin-bottom: 0;
}

footer {
  border-top: 1px solid var(--muted-border-color);
  padding-top: var(--nav-element-spacing-vertical);
}

hgroup i {
  display: block;
}

@media (min-width: 576px) {
  hgroup i {
    display: inline;
  }
}

.url {
  color: purple;
}

.url:has(+ i .scheme:hover) .scheme,
.url:has(+ i .subs:hover) .subs,
.url:has(+ i .path:hover) .path {
  text-decoration: underline;
}

.path {
  color: dodgerblue;
}

.success, .https {
  color: green;
}

.error, .http {
  color: red;
}

.warning, .subs {
  color: orange;
}

.warning::before {
  content: '⚠️ ';
}

.hidden {
  display: none;
}

.proto {
  display: block;
  font-style: italic;
}
