:root:not([data-theme=dark]), [data-theme=light] {
  --primary: hsl(195deg, 85%, 35%);
  --muted-color: hsl(205deg 9% 35%);
}

body > :where(header, footer, main), section {
  --block-spacing-vertical: calc(var(--spacing) * 2) !important;
}

label + small {
  color: var(--muted-color);
}

article {
  position: relative;
}

article .reload {
  position: absolute;
  right: 1em;
  top: 1ex;
}

article > :last-child {
  margin-bottom: 0;
}

.success {
  color: green;
}

.error {
  color: red;
}

.warning {
  color: orange;
}

.warning::before {
  content: '⚠️ ';
}

.hidden {
  display: none;
}
