name: Deploy
on:
  push:
    branches: main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy --remote-only --depot=false --deploy-retries=5
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
